*.o

m4/
aclocal.m4
lb
nb
cb
Makefile
Makefile.in
compile
README
.deps/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
site-lb.h
site-lb.h.in
stamp-h1
version-lb.h

missing
wsl
